.register-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8fafc;
  font-family: "Poppins", sans-serif;
}

.register-form {
  width: 533px;
  height: 566px;
  background-color: #fff;
  border: 1px solid rgba(228, 228, 231, 1);
  border-radius: 12px;
  padding: 32px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.register-form .title {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  color: #111827;
  margin-bottom: 16px;
}

.register-form input {
  width: 472px;
  height: 65px;
  padding: 16px;
  font-size: 14px;
  border: 1px solid #d1d5db; /* gray-300 */
  border-radius: 8px;
  outline: none;
}

.register-form input:focus {
  border-color: #0d6efd;
  box-shadow: 0 0 0 2px rgba(13, 110, 253, 0.2);
}

.register-form .error {
  font-size: 12px;
  color: red;
  margin-top: -6px;
  margin-bottom: 6px;
}

.register-form button {
  width: 472px;
  height: 65px;
  background-color: #0d6efd;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  border: none;
  border-radius: 9px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.register-form button:hover {
  background-color: #005ce6;
}

.register-form .login-link {
  text-align: center;
  font-size: 14px;
  margin-top: 12px;
}

.register-form .login-link a {
  color: #0d6efd;
  font-weight: 500;
  text-decoration: none;
}

.register-form .login-link a:hover {
  text-decoration: underline;
}
.center-placeholder::placeholder {
  text-align: center;
}
